// SASS CONDITIONS
// IMPORT VARIABLES
@import "variables";

body.bckgd--y-m {
    background-color: $ylw;
    
    #data--location--div{
        background-color: $ylw-v !important;
    }

	.getLocationDiv {
		background-color: $ylw-v;
	}

	.getSearchFieldDiv {
		background-color: $ylw-v;
	}

	.getSearchField {
		background-color: $ylw-v;
	}

	.getSearchButton {
		color: $ylw-v;
	}

	.getPowerButton {
		background-color: $ylw-v;
	}

	.getHannah {
		background-color: $ylw-v;
	}

	.getDailyBG {
		background-color: $ylw-p;
	}
}