// CONTAINER
.copyright {
	margin: auto;
}

.footer {
	margin-top: 30px;
}

.ampm {
	font-size: 20px;
}

.power--button {
	margin-top: 40px;
	margin-bottom: 20px;
}

//COUNTDOWN
#clockdiv {
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv>div {
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#clockdiv div>span {
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.smalltext {
	padding-top: 5px;
	font-size: 16px;
}

#data__time--sunrise #data__time--sunset {
	font-size: 4em;
}