// SASS GLOBAL
// IMPORT VARIABLES
@import "variables";

// LOADER
#master--loader{
	background: #0b1d30e3;
	// display: none;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 100;
}

.master--loader-img {
	height: 191px;
	left: 50%;
	margin-left: -125px;
	margin-top: -95.5px;
	position: absolute;
	top: 50%;
	width: 250px;
}

// MASTER LOGO
.master--logo {
	margin-top: 200px;
	margin-bottom: 180px;
}

.master--logo-img {
	height: 191px;
	width: 250px;
}

// TOOLTIP
.tooltip>.tooltip-inner {
	// background-color: $d-blu-v;
	border: 1px solid $wht;
	padding: 10px;
	font-weight: lgt;
}

// .tooltip-arrow {
// 	border-left: 15px solid $wht;
//   }

// DATA LOCATION
.data--location {
	display: flex;
	align-content: center;
	width: 100%;
	height: 150px;
	border-top: 1px solid $wht;
	border-bottom: 1px solid $wht;
	padding: 0;
	margin-bottom: 1.5em;
}

// AUTOCOMPLETE
input {
	width: 100%;
	font-family: $main-font;
	font-size: $h3;
	font-weight: $reg;
	color: $wht;
	text-align: center;
}

.floatRight {
	float: right;
}

.floatRight::after {
	clear: right;
}