// SASS GLOBAL
// IMPORT VARIABLES
@import "variables";

// RESETS
* {
	border: 0;
	box-sizing: border-box;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

// FONT
// All body copy, chart text, copyrights
body {
	background: $d-blu;
	color: $wht;
	font-family: $main-font;
	font-weight: $lgt;
	font-size: $bdy;
}

// Big numbers, numeric values
h1 {
	color: $wht;
	font-family: $main-font;
	font-weight: $bld;
	font-size: $h1;
}

// Button text, titles for the data, eg UV Index and Humidity etc
h2 {
	color: $wht;
	font-family: $main-font;
	font-weight: $reg;
	font-size: $h2;
}

// Future days and temperature
h3 {
	color: $wht;
	font-family: $main-font;
	font-weight: $reg;
	font-size: $h3;
}

// Units e.g %, am, pm etc...
h4 {
	color: $wht;
	font-family: $main-font;
	font-weight: $bld;
	font-size: $h4;
}

// MASTER
.master {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;
}

// MASTER WARNING
.master--warning {
	background: linear-gradient(to right, $d-blu, $l-blu);
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 10;
}

.master--warning-img {
	height: 280px;
	left: 50%;
	margin-left: -140px;
	margin-top: -140px;
	position: absolute;
	top: 50%;
	width: 280px;
}

// SECTION
.section {
	margin-top: 100px;
}

// CONTAINER
.container-fluid {
	max-width: 500px;
	padding: 1em;
	position: relative;
	width: 95%;
}

// BUTTON
.btn {
	width: 90%;
	line-height: 40px;
	height: 40px;
	display: block;
	border: 1px solid $wht;
	text-align: center;
	margin-top: 20px;
	font-family: $main-font;
	font-size: $h2;
}

.btn--search {
	color: $d-blu-v;
	background-color: $wht;
	cursor: pointer;
}

.btn--input {
	color: $wht;
	background-color: $d-blu-v;
	cursor: text;
}

// ICON
.icon--info {
	cursor: help;
	float: right;
}

.icon--info::after {
	clear: right;
}

.icon--bg {
	width: 100px;
	height: 100px;
}

.icon--md {
	width: 50px;
	height: 50px;
}

.icon--sml {
	width: 32px;
	height: 32px;
}

// BACKGROUNDS
.bckgd--y-m {
	background: $ylw;
}

.bckgd--y-p {
	background: $ylw-p;
}

.bckgd--y-v {
	background: $ylw-v;
}

.bckgd--g-m {
	background: $gry;
}

.bckgd--g-p {
	background: $gry-p;
}

.bckgd--g-v {
	background: $gry-v;
}

.bckgd--b-m {
	background: $l-blu;
}

.bckgd--b-p {
	background: $l-blu-p;
}

.bckgd--b-v {
	background: $l-blu-v;
}

.bckgd--db-m {
	background: $d-blu;
}

.bckgd--db-p {
	background: $d-blu-p;
}

.bckgd--db-v {
	background: $d-blu-v;
}

// MEDIA
@media screen and (min-width : 500px) {
	.master--warning {
		display: block;
	}
}

@media screen and (min-height : 800px) {
	.master--warning {
		display: block;
	}
}