// SASS
// VARIABLES
$wht: #fff;
$blk: #000;

// MAIN COLOURS
$ylw: #ffb33b;
$gry: #6d849e;
$l-blu: #2484c6;
$d-blu: #114180;
$d-gry: #525252;

// PALE COLOUR TINTS
$ylw-p: #ffca76;
$gry-p: #99A9BB;
$l-blu-p: #66a9d7;
$d-blu-p: #5e7596;
$d-gry-p: #999999;

// VIBRANT COLOUR TINTS
$ylw-v: #ff9e3e;
$gry-v: #586980;
$l-blu-v: #136999;
$d-blu-v: #0d3866;
$d-gry-v: #303030;

// LOADER
$ldr: #0b1d30e3;

// ERROR COLOUR
$red: #f34949;

// TRANSPARENT COLOUR
$t: #ffffff05;

// FONTS
$main-font: 'Poppins', sans-serif;

$lgt: 300;
$reg: 400;
$bld: 900;

$bdy: 17px;
$h1: 3.2em;
$h2: 1.3em;
$h3: 1.1em;
$h4: 2em;
$h5: 1.7em;
