// SASS
// VARIABLES

// MAIN COLOURS
$wht: #fff;
$blk: #000;
$ylw: #ffb33b;
$gry: #6d849e;
$l-blu: #2484c6;
$d-blu: #102949;

// COLOUR TINTS
$ylw-t: #ffca76;
$gry-t: #99a9bb;
$l-blu-t: #66a9d7;
$d-blu-t: #586980;

// FONTS
$main-font: 'Poppins', sans-serif;