// SASS
// VARIABLES

// MAIN COLOURS
$wht: #fff;
$blk: #000;
$ylw: #ffb33b;
$gry: #6d849e;
$l-blu: #2484c6;
$d-blu: #102949;

// PALE COLOUR TINTS
$ylw-p: #ffca76;
$gry-p: #728091;
$l-blu-p: #66a9d7;
$d-blu-p: #5e7596;

// VIBRANT COLOUR TINTS
$ylw-v: #ff9e3e;
$gry-v: #46535f;
$l-blu-v: #136999;
$d-blu-v: #0b1d30;
$d-gry-v: #323b44;

// ERROR COLOUR
$red: #f34949;

// FONTS
$main-font: 'Poppins', sans-serif;

$lgt: 300;
$reg: 400;
$bld: 900;

$bdy: 1.1em;
$h1: 4.2em;
$h2: 1.3em;
$h3: 1.1em;
$h4: 2em;
$h5: 1.7em;